@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SOCHCKR</h1>
    <p class="lead">Sochckr is a broken link checker for Stack Exchange sites.</p>
    <p><a href="https://stackexchange.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Motivation</h2>
        <p><a href="https://stackexchange.com/">Stack Exchange</a> sites require <a href="https://stackoverflow.com/help/whats-reputation">reputation</a> to participate fully. With a growing number of reputation points you can vote on other people's questions and answers, add comments, edit posts without moderation etc.</p>
        <p>Without reputation you can only ask and answer questions and edit other people's questions and answers (subject to moderation).</p>
        <p>Most people know you can ask and answer questions. Not so many people realise you can edit posts. Trivial edits are frowned upon and all edits must repect the author's original work.</p>
        <p><a href="https://journalistsresource.org/studies/society/internet/website-linking-best-practices-media-online-publishers">Link rot</a>, on the other hand, is an ongoing problem and an easy target for an editor.</p>
        <p>Unless of course you have a <a href="https://meta.stackexchange.com/questions/17204/six-simple-tips-to-get-stack-overflow-reputation-fast">funny bunny picture</a> up your sleeve.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>