@model IEnumerable<Sochckr.Web.Models.BrokenLink>
@{
    ViewBag.Title = "Index";
}

<h2>Top posts with broken links</h2>

@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "brokenLinksList",
        OnSuccess = "pulsate"
    }))
{
    <input type="search" name="StatusCode" data-sochckr-autocomplete="@Url.Action("Autocomplete")"/>
    <input type="submit" value="Search by Status Code" />
}

@Html.Partial("_BrokenLinks", Model)
